@import "/src/styles/colors";


.select {

    line-height: 36px;
    padding: 0 15px 0 15px;

    &__disabled {
        background: rgba(0,0,0, .05);
        border: 1px solid rgba(0,0,0, 0.15);
    }

}

// Allows to apply different styles inside this Shadow DOM
:host-context(.form-field_error) {
    .select {
        border: 1px solid error;
    }
}